<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="FinalProject.Properties.Settings.inew2332sp22ConnectionString"
   connectionString="Data Source=cstnt.tstc.edu;Initial Catalog=inew2332sp22;Persist Security Info=True;User ID=EsquivelA22Sp2332;Password=Ae1758192"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>